---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?api_id=<APP_ID>&api_key=<APP_KEY>&q=germany
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Unauthorized","status":"error"}

        '
  recorded_at: Sun, 12 Nov 2023 05:22:17 GMT
recorded_with: VCR 6.2.0
